<!doctype html>
<!--[if IE]><![endif]-->
<html class="chrome ajax-active no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Wei Kin Huang" />
<meta name="application-name" content="Classify.js" />

<title>{{htmlTitle}}</title>

<!-- favicon -->
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

<!-- fixed viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- chrome stylesheets -->
<link href="{{projectAssets}}/css/reset.css" media="screen" rel="stylesheet" type="text/css" />
<link href="{{projectAssets}}/css/all.css" media="screen" rel="stylesheet" type="text/css" />
<link href="{{projectAssets}}/css/main.css" media="screen" rel="stylesheet" type="text/css" />
<link href="{{projectAssets}}/vendor/prettify/prettify-min.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body id="doc">
<!-- [MAIN CONTENT] -->
<div id="viewport" class="apidocs body-wrapper clearfix">

<!-- [HEADER] -->
	<div id="header-wrapper" class="clearfix">
		<div id="header" class="header clearfix">
			<h1>Classify.js</h1>
		</div>
	</div>
<!-- [/HEADER] -->

<!-- [BANNER] -->
	<div>
		<a href="{{repoUrl}}" class="github-fork-banner texthidden">Fork me on GitHub!</a>
	</div>
<!-- [/BANNER] -->

<!-- [BODY] -->
	<div id="sidebar" class="sidebar lnk clearfix">
		<div id="docs-sidebar" class="sidebar apidocs">
			{{>sidebar}}
		</div>
	</div>

	<div id="body" class="body lnk clearfix">
		<div class="body-wrapper">
			{{>layout_content}}
		</div>
	</div>
<!-- [/BODY] -->

<!-- [FIXED FOOTER FIX] -->
	<div class="fixed-footer-clear"></div>
<!-- [/FIXED FOOTER FIX] -->

</div>
<!-- [/MAIN CONTENT] -->

<!-- [FOOTER] -->
	<div id="footer" class="footer clearfix">

	</div>
<!-- [/FOOTER] -->

<script type="text/javascript" src="js/classify.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<!-- <script src="{{projectAssets}}/../api.js"></script> -->
<!-- <script src="{{projectAssets}}/js/api-filter.js"></script> -->
<!-- <script src="{{projectAssets}}/js/api-list.js"></script> -->
<!-- <script src="{{projectAssets}}/js/api-search.js"></script> -->
<!-- <script src="{{projectAssets}}/js/apidocs.js"></script> -->

<script type="text/javascript" src="js/page.js"></script>
<script type="text/javascript">
var _gaq=[["_setAccount","UA-6932121-4"],["_trackPageview"]];(function(b,d,e,a,c){a=b.createElement(d);c=b.getElementsByTagName(d)[0];a.type="text/javascript";a[e]=e;a.src=("https:"==b.location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";c.parentNode.insertBefore(a,c)})(document,"script","async");
</script>
<script>
$(function() {
	prettyPrint();
	$("a[href^=#]").click(function() {
		var href = $(this).attr("href");
		var id = href.replace(/^.*#/, "");
		$("html,body").stop().animate({
			scrollTop : ($(document.getElementById(id)).offset().top - 50) + "px"
		}, 1000);
		return false;
	});
});
</script>
</body>
</html>
